body {
    padding-top: 60px;
    padding-bottom: 60px;
}

.copyright {
    color: #ffffff;
}

.footer {
    text-align: center;
}

.footer a {
    color: #ee4444;
}

.sidebar h1 {
    color: #ee4444;
    font-size: 1.3em;
}

.sidebar a {
    color: #428bca;
}

.sidebar li {
    margin-top: .7em;
    line-height: 1em;
}

.sidebar a:hover {
    color: #3071a9;
}

.container-left {
    margin: 0;
}

.well h1 {
    color: #ee4444;
    font-size: 1.3em;
}

.author {
    color: #ee4444;
}

.author a {
    color: #ee4444;
}
body {
  background-color: #000000;
  color: #ff0033;
  font-family: 'Orbitron', sans-serif; /* 推荐赛博字体 */
}

a {
  color: #ff0066;
  text-decoration: none;
}

a:hover {
  color: #00ffff;
  text-shadow: 0 0 5px #ff00cc;
}

header, footer {
  background-color: #111;
  border-top: 2px solid #ff0033;
  border-bottom: 2px solid #ff0033;
  padding: 1em;
}
